src/main/mule/webservices.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5e0f75a9-5bb0-4f24-90e3-f63fc642276e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="f0d12aa6-49ad-485d-8b10-eef454c045ee" >
		<wsc:connection wsdlLocation="http://dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="webservicesFlow" doc:id="b29fd455-7d16-4fdd-bfa2-ab814f7bec8f" >
		<http:listener doc:name="Listener" doc:id="a643176a-2311-4001-a555-f02de08dd9cb" config-ref="HTTP_Listener_config" path="soap"/>
		<set-variable value="40" doc:name="Number1" doc:id="8361d4db-55bd-4faf-913a-7c49a47a1ca2" variableName="num1"/>
		<set-variable value="2" doc:name="Number2" doc:id="653fba3a-827f-4278-a50b-73618c78e4da" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="e7f012c2-eb0a-46b9-b3ce-42faf77d0774" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: vars.num1 as Number,
		ns0#intB: vars.num2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Divide" doc:name="Consume" doc:id="25cce21f-b223-40b5-b430-e3cd38368bbe" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="849f0198-5276-41fa-8182-9309b65e4f61" message="#[payload]"/>
	</flow>
</mule>
